<footer class="col-lg-12 page-footer">
  <div class="row">
    <div class="col-sm-6">
      <a rel="license" data-jslicense="1" href="/licenses">Licenses</a>
    </div>
    <div class="col-sm-6" style="text-align:right">
      <a href="https://www.linkedin.com/in/wwahammy" class="icon-linkedin" title="Eric's LinkedIn"></a>
      <a href="https://github.com/ericschultz" class="icon-github" title="Eric's Github"></a>
    <a href="https://twitter.com/wwahammy" class="icon-twitter" title="Eric's Twitter"></a></div>
  </div>
</footer>
