name: Build and Deploy Theme
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: 'yarn'
      - run: 'yarn'
      - run: 'yarn build'
      - name: Deploy Ghost Theme
        uses: TryGhost/action-deploy-theme@v1
        if: ${{ github.event_name != 'pull_request' }}
        with:
          api-url: ${{ secrets.GHOST_ADMIN_API_URL }}
          api-key: ${{ secrets.GHOST_ADMIN_API_KEY }}
